
  
  <div class="row">    
    
    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="columns">
      
      <h3>Group Project Synchronization <br> <small>They really shouldn't be a hassle to manage</small></h3>
      <br>

      <p> Project leaders can assign group members to projects or even specific deadlines. Group Members now have the ability to check up on their coworkers and each other's calender deadlines. Members can update their weekly statuses by closing issues on github or on this website. Members can update their expected sprint completion date.</p>

    </div>
    

    
    <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->

    
  </div>
    
