/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */


@media (max-width: 530px), (max-height: 200px) {
    body, body p{
        font-size: 0.6em !important; 
    }
}
@media (max-width: 230px){
    body, body p, li{
        font-size: 0.4em !important; 
    }
}

@media (max-width: 767px) {
    .fixt{
        position: absolute; margin-left: 0px;
    }
}


form  select.datetime{
    width: inherit !important;
}

.row{
    max-width: 65.5em;
}

.large-9{
    width: 80%;
}
.large-3{
    width:19%;
}
.fixt{
    position: fixed; margin-left: 50px !important;
}

.seperator-tiny{
    width: 42%; 
    min-width: 50px;
    max-width: 200px;
    height: 5px; 
    background-color: black; 
    border-radius: 3px;
    opacity: 0.65;
    margin-bottom: 5px;
    margin-top: 5px;
}

.seperator-small{
    width: 72%; 
    min-width: 250px;
    max-width: 500px;
    height: 7px; 
    background-color: black; 
    opacity: 0.7;
    margin-bottom: 5px;
    margin-top: 5px;
}

.seperator-medium{
    width: 72%; 
    min-width: 250px;
    max-width: 500px;
    height: 7px; 
    background-color: black; 
    opacity: 0.7;
    margin-bottom: 5px;
    margin-top: 5px;

    width: 90%;
    max-width: 800px;
}

.spm-dark{
    opacity: 0.75;
}
.spm-medium{
    opacity: 0.45;
}
.spm-light{
    opacity: 0.25;
}