<table>
<thead>
    <tr class="tr-head">
        <th>Member</th>
        <th></th>
        <th></th>
    </tr>
</thead>
<tbody>
    <% Project.joins('LEFT OUTER JOIN member_project_groupings 
        ON member_project_groupings.p_id = projects.id')
        .where("member_project_groupings.m_id = #{current_member.id}").each do |project| %>
        <tr>
            <td><%= project.name %></td>
            <td><%= link_to 'Remove Members', "/projects/#{project.id}/remove_members" %></td>
            <td><%= link_to 'Delete', "/projects/#{project.id}", method: :delete %> </td>
        </tr>
    <% end %>
</tbody>
</table>