<h1>Update Profile</h1>

<%= render 'form' %>

<div>
<%= link_to 'Back', @member %> |
<%= link_to 'Members List', members_path %> |
<%= link_to 'Destroy', current_member, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert" %>

</div>