<div class="large-9 push-3 columns">

<h1> Here are your Deadlines! </h1>

<div class="seperator-medium spm-light"></div>

<%= render 'show_deadlines' %>

<div class="seperator-medium spm-dark"></div>

<div>
    <%= link_to 'Back To Profile', "/members/#{current_member.id}" %>
</div>

</div>

